# Database Connection
DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>"

# JWT Secret
JWT_SECRET_KEY=your_jwt_secret_key_here

# SMTP (Email Configuration)
SMTP_HOST=smtp.gmail.com
SMTP_MAIL=your_email@gmail.com
SMTP_PASSWORD=your_email_password
SMTP_PORT=465

# API Key
API_KEY=your_api_key_here

# Base Location (Coordinates)
BASE_LONGITUDE="your_longitude"
BASE_LATITUDE="your_latitude"
